extends layout

block content
    table
        tr
            th Name
            th Description
            th Price
            th Start Date
            th End Date
            th
        each project, index in projects
            tr
                td= project.name
                td= project.description
                td= project.price
                td= project.start
                td= project.end
                td
                    if isLeader
                        a(href='/projects/delete/'+project._id) Delete
                    if isLeader
                        a(href='/projects/add-member/'+project._id) Add member
                    if isLeader
                        a(href='/projects/archive/'+project._id) Archive
                    a(href='/projects/edit/'+project._id) Edit
