extends layout

block content
    form(action='/projects' method='post')
        p Name:
            input(type='text', name='name' value=project.name)
        p Description:
            input(type='text', name='description' value=project.description)
        p Price:
            input(type='number', name='price' value=project.price)
        p Jobs done:
            textarea(name='jobsdone')= project.jobsdone
        p Start:
            input(type='date', name='start' value=project.start)
        p End:
            input(type='date', name='end' value=project.end)
            input(type='hidden' name='id' value=project.id)
        p
            input(type='submit' name='submit' value='Save')

    section
    if project.members
        h2 Members
        each member in project.members
            li=member
